<style>
.selected {
	color: #ff0000 !important;
	border-color: #ff0000 !important;
}
</style>

<div id="bin-search-wrapper">

    <ul id="bin-search-filters" class="filter-list">
	<h3>Filters:</h3>
        {% for filter_pair in site.data.filters %}
        {% assign filter_id = filter_pair[0] %}
        {% assign filter = filter_pair[1] %}
	<li><input type="checkbox" id="{{ filter.label }}" name="filter_name" onclick='handleChange(this, "{{ filter.label }}");'><label id="{{ filter.label }}_label" for="{{ filter.label }}" data-title="{{ filter.description | replace: '\n', ' ' }}">{{ filter.label }}</label></li>
        {% endfor %}
    </ul>
    <ul id="bin-search-filters" class="filter-list">
	<h3>What you have:</h3>
	{% for item_pair in site.data.items %}
	{% assign item_id = item_pair[0] %}
	{% assign item = item_pair[1] %}
	<li><input type="checkbox" id="{{ item.label }}" onclick='handleChange(this, "{{ item.label }}");'><label id="{{ item.label }}_label" for="{{ item.label }}" data-title="{{ item.description | replace: '\n', ' ' }}">{{ item.label }}</label></li>
	{% endfor %}
    </ul>

    <input id="bin-search" type="text" placeholder="Search among {{ site.wadcoms | size }} commands: <command> +<filter> ..."/>
</div>

<div id="bin-table-wrapper">
    <table id="bin-table">
        <thead>
            <tr>
                <th>Command</th>
            </tr>
        </thead>
        <tbody>
            {% for file in site.wadcoms %}
            <tr>
		    <td><div class="bin-name"><a href="{{ file.url }}" style="text-decoration: none; color: DarkGreen;">{% include get_code.html page_test=file %}</a></div><p style="margin-top: -12px;">{% include filter_list.html bin=file %}</p></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td id="search-message" colspan="2">No binary matches...</td></tr>
        </tfoot>
    </table>
</div>

<script>

 function handleChange(checkbox, label) {
	 if (checkbox.checked == true) {
		 //console.log(label);
		 document.getElementById(label).className = 'match';
		 document.getElementById(label + "_label").innerText = label + "✓";
		 var slash = window.location.href.lastIndexOf("/");
		 if (window.location.href[slash+1] == "#") {
		     window.location.href+='+' + label
		 } else {
		     window.location.href+='#+' + label
		 }
	 } else {
		 document.getElementById(label).className = "";
		 document.getElementById(label + "_label").innerText = label;
		 label = label.replace(" ", "%20");
		 var new_href = window.location.href.replace("+"+label, "");
		 window.location.href = new_href;
		 if (window.location.hash == "") {
			 document.getElementById("bin-search").value = "";
		 }
	 }
 }

 function filter(query) {
     var queryArray = query.toLowerCase().trim().split(/ *\+/);
     var binPattern = queryArray[0];
     var functionPatterns = queryArray.splice(1);

     // filter rows
     var noResults = true;

     var allFilters = document.getElementsByName("filter_name");
     var allFilters_parsed = [];
     allFilters.forEach((f) => {
	     allFilters_parsed.push(f.id.toLowerCase());
     });
     var filter_chosen = functionPatterns.filter(element => allFilters_parsed.includes(element));
     filter_chosen.forEach((f) => {
	     console.log("filter_chosen: " + f);
     });

     document.querySelectorAll('#bin-table tbody tr').forEach(function (row) {
         var show = true;

         var binName = row.children[0].firstElementChild.innerText.toLowerCase();
	     
         var functionElems = Array.from(row.children[0].childNodes[2].children);
	 
         if (show) {
             functionElems.forEach((item) => {
                 item.className = '';
             });
	     functionElems.forEach((item) => {
		 //console.log("current item is " + item.innerText);
	         let siblings = [];
		 if (item.parentNode) {
		     let sibling = item.parentNode.firstChild;
		     while (sibling) {
		         if (sibling.nodeType == 1 && sibling !== item) {
			     siblings.push(sibling);
			 }
			     sibling = sibling.nextSibling;
		     }
		     for (i = 0; i < siblings.length; i++ ) {
			 //console.log("current sibling is " + siblings[i].innerText);
		         var found = false;
			 functionPatterns.forEach((pattern) => {
		             //console.log("Pattern: " + pattern);
			     if (!pattern) {
			         return;
			     }
					 
			     if (siblings[i].innerText.toLowerCase().startsWith(pattern.toLowerCase())) {
			         found = true;
			     }
			 });
			 if (found) {
			     //console.log("found in " + siblings[i].innerText);
	                     siblings[i].className = 'match';
			 }
		     }
		     functionPatterns.forEach((p) => {
			     if (!p) {
				     return;
			     }

			     if (item.innerText.toLowerCase().startsWith(p.toLowerCase())) {
				     //console.log("Parent matches!");
				     item.className = 'match';
			     }
		     });

		 }
	     });

         }
	 var filled = true;
	 var found_binName = false;
         if (binName.indexOf(binPattern) !== -1) {
		 found_binName = true;
	 }

	 functionElems.forEach((i) => {
	     {% for item_pair in site.data.items %}
	     {% assign item_id = item_pair[0] %}
	     {% assign item = item_pair[1] %}
	     
		 if (i.innerText.toLowerCase() == "{{ item.label | downcase }}" && i.className !== "match") {
	         filled = false;
	     }

	     {% endfor %}
	 });
	 var found_filter = true;
	 if (filter_chosen.length !== 0) {
		 found_filter = false;
		 filter_chosen.forEach((f) => {
			 functionElems.forEach((i) => {
				 if (i.innerText.toLowerCase() == f) {
					 found_filter = true;
				 }
			 });
		 });
	 }
					 

	 if (!filled && functionPatterns.length != 0 || !found_binName || !found_filter) {
	     //console.log("not filled");
	     row.style.display = 'none';
	 } else {
	     row.style.display = '';
	     noResults = false;
	     //console.log("filled! " + row.style.display);
	 }
     });

     // update the search message visibility
     var searchMessage = document.getElementById('search-message');
     searchMessage.style.display = noResults ? 'table-cell' : 'none';
 }

 function applyFilter() {
     // filter on load according to the URL
     var searchBox = document.getElementById('bin-search');
     var query = decodeURIComponent(location.hash.slice(1));
     filter(query);
     if (query) {
         searchBox.value = query;
     }
 }

 function setup() {
     var searchBox = document.getElementById('bin-search');

     // ensure height during filtering
     var binTableWrapper = document.getElementById('bin-table-wrapper');
     binTableWrapper.style.height = binTableWrapper.clientHeight + 'px';

     // handle user input
     searchBox.addEventListener('input', function () {
         var query = searchBox.value;
         history.replaceState(null, null, encodeURI('#' + query));
         applyFilter();
     });

     // handle shortcuts
     addEventListener('keydown', function (event) {
         // focus search box on valid keydown
         if (event.key.toLowerCase().match(/^[+a-z]$/) &&
             !(event.ctrlKey || event.altKey || event.metaKey)) {
             searchBox.focus();
             searchBox.parentElement.scrollIntoView();
         }
         // clear filter on escape
         else if (event.key === 'Escape') {
             location.hash = searchBox.value = '';
             searchBox.focus();
             searchBox.parentElement.scrollIntoView();
         }
     });

     // handle URL changes
     window.onhashchange = applyFilter;

     // trigger filter on page load
     applyFilter();
 }

 setup();
</script>
