<dl>
    {% for filter_pair in site.data.services %}
    {% assign filter = filter_pair[1] %}
    <dt class="filter-name">{{ filter.label }}</dt>
    <dd>{{ filter.description | markdownify }}</dd>
    {% endfor %}

    {% for attack_pair in site.data.attack_types %}
    {% assign attack = attack_pair[1] %}
    <dt class="filter-name">{{ attack.label }}</dt>
    <dd>{{ attack.description | markdownify }}</dd>
    {% endfor %}

    {% for os_pair in site.data.OS %}
    {% assign os = os_pair[1] %}
    <dt class="filter-name">{{ os.label }}</dt>
    <dd>{{ os.description | markdownify }}</dd>
    {% endfor %}
</dl>
