<h1>
    {% if page.url != '/' %}
    <a href="/">..</a> /
    {% endif %}
    {{ include.title }}
    <div class="github-buttons">
        <a class="github-button" href="https://github.com/WADComs/WADComs.github.io" data-icon="octicon-star" data-show-count="true" aria-label="Star WADComs/WADComs.github.io on GitHub">Star</a>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <script type="text/javascript">        
            if(localStorage["style"]=="true"){
                document.getElementById('pagestyle').setAttribute('href','/assets/styleDark.css');
                document.querySelector('input[type="checkbox"]').checked = true
            }
        </script>
    </div>
</h1>
