---
layout: common
---

{% capture bin_name %}{% include get_bin_name path=page.path %}{% endcapture %}

{% include page_title.html title=bin_name %}

{% include filter_list.html bin=page %}

{{ page.description | markdownify }}

Command:
{% for item_pair in site.data.items %}
{% assign item_id = item_pair[0] %}
{% assign item = item_pair[1] %}
{% assign examples = page.items[item_id] %}
{% unless examples %}{% continue %}{% endunless %}
<ul class="examples">

{% assign code_es = examples.first.code | escape | strip_newlines %}
{% if code_es != "empty" %}
    <li>
        <pre><code>{{ examples.first.code | escape }}</code></pre>
    </li>
{% break %}
{% endif %}

</ul>
{% endfor %}
